<section class="about section-padding" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-12 ps-lg-5 mt-md-5">
        <div class="about-text">
          <h2>
            We Provide the Best Quality<br />
            Services Ever
          </h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam,
            labore reiciendis. Assumenda eos quod animi! Soluta nesciunt
            inventore dolores excepturi provident, culpa beatae tempora,
            explicabo corporis quibusdam corrupti. Autem, quaerat. Assumenda quo
            aliquam vel, nostrum explicabo ipsum dolor, ipsa perferendis porro
            doloribus obcaecati placeat natus iste odio est non earum?
          </p>
          <a class="btn btn-warning" href="#">Learn More</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12 about-img">
        <img alt="" class="img-fluid" src="/assets/images/about.jpg" />
      </div>
    </div>
  </div>
  <section class="mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-3">
        <div class="stat text-center">
          <div class="number-counter">{{ stat1Value }}</div>
          <div class="stat-img">
            <img src="/assets/images/stats/checking.png" alt="Image 2" class="img-fluid stat-image">
          </div>
          <div class="stat-label">Stat 1</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="stat text-center">
          <div class="number-counter">{{ stat2Value }}</div>
          <div class="stat-img">
          <img src="/assets/images/stats/checking.png" alt="Image 2" class="img-fluid stat-image">
        </div>
          <div class="stat-label">Stat 2</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="stat text-center">
          <div class="number-counter">{{ stat1Value }}</div>
          <div class="stat-img">
            <img src="/assets/images/stats/checking.png" alt="Image 2" class="img-fluid stat-image">
          </div>
          <div class="stat-label">Stat 1</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="stat text-center">
          <div class="number-counter">{{ stat2Value }}</div>
          <div class="stat-img">
          <img src="/assets/images/stats/checking.png" alt="Image 2" class="img-fluid stat-image">
        </div>
          <div class="stat-label">Stat 2</div>
        </div>
      </div>
    </div>
  </section>
  
  
        
</section>
