<footer class="footer">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-3 mt-4">
		  <h4>BASSAM</h4>
		  <div class="text-muted mt-4">
		      <ul class="list-unstyled footer-list">
			<li><a href="#">Home</a></li>
			<li><a href="#">About us</a></li>
			<li><a href="#">Our Works</a></li>
			<li><a href="#">Contact us</a></li>
		      </ul>
		  </div>
	        </div>
	        <div class="col-lg-3 mt-4">
		  <h4>Information</h4>
		  <div class="text-muted mt-4">
		      <ul class="list-unstyled footer-list">
			<li><a href="#">Terms & Condition</a></li>
			<li><a href="#">About us</a></li>
			<li><a href="#">Documents</a></li>
		      </ul>
		  </div>
	        </div>
	        <div class="col-lg-3 mt-4">
		  <h4>Support</h4>
		  <div class="text-muted mt-4">
		      <ul class="list-unstyled footer-list">
			<li><a href="">FAQ</a></li>
			<li><a href="">Contact</a></li>
			<li><a href="">Disscusion</a></li>
		      </ul>
		  </div>
	        </div>
	        <div class="col-lg-3 mt-4">
		  <h4>Subscribe</h4>
		  <div class="text-muted mt-4">
		      <p>In an ideal world this text wouldn’t exist, a client would acknowledge the importance of having
			web copy before the design starts.</p>
		  </div>
		  <form class="form subscribe">
		      <input placeholder="Email" class="form-control" required>
		      <a href="#" class="submit"><i class="pe-7s-paper-plane"></i></a>
		  </form>
	        </div>
	    </div>
	</div>
      </footer>
      <!--END FOOTER-->
      
      <!--START FOOTER ALTER-->
      <div class="footer-alt">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-12">
		  <div class="float-start pull-none">
		      <p class="copy-rights text-muted mb-3 mb-sm-0">{{ cur_year }} © Bassam Group</p>
		  </div>
		  <div class="float-end pull-none ">
		      <ul class="list-inline d-flex flex-wrap social m-0">
			<li class="list-inline-item"><a href="" class="social-icon ml-1"><lucide-icon name="facebook" class="my-icon"></lucide-icon>

			</a></li>
			<li class="list-inline-item"><a href="" class="social-icon ml-1"><i-lucide name="twitter" class="my-icon"></i-lucide></a></li>
			<li class="list-inline-item"><a href="" class="social-icon ml-1"><i-lucide name="linkedin" class="my-icon"></i-lucide></a></li>
			
		      </ul>
		  </div>
		
	        </div>
	    </div>
	</div>
      </div>

      
 